singularity.enabled = true
conda.enabled = true


nextflowVersion = '>=20.0'

import java.time.*
Date now = new Date()


params {
    day                = now.format("yyyMMdd")
    timestamp          = now.format("yyyyMMdd-HH-mm-ss")
    out                = "Analysis_Results-${day}"
}

report {
    enabled = true
    file = "${params.out}/${params.timestamp}_report.html"
}

timeline {
    enabled = true
    file = "${params.out}/${params.timestamp}_timeline.html"
}


singularity {
    pullTimeout = '30 min'
    enabled = true
    autoMounts = true
    cacheDir = "/projects/b1059/singularity"
}

process {
    executor = 'slurm'
    queue = 'genomics'
    clusterOptions = '-A b1042 -t 3:00:00 -e errlog.txt'
    queueSize = 50
    submitRateLimit = "5sec"
}