import java.time.*
Date now = new Date()

process.cache = "lenient"

params {
    day                = now.format("yyyMMdd")
    timestamp          = now.format("yyyyMMdd-HH-mm-ss")
    out                = "Analysis_Results-${day}"
    tracedir = "pipeline-info"
    debug = false
    help = false
}

profiles {
    standard { includeConfig 'conf/rockfish.config' }
    rockfish { includeConfig 'conf/rockfish.config' }
}

report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}