profiles {
    local {
        process {
            executor = 'local'
            // General process settings for local execution
            cpus = 2
            memory = '4GB'
            time = '1h'

            withLabel: filter_vcf {
                container = "docker://quay.io/biocontainers/bcftools:1.16--hfe4b78e_1"
            }

            withLabel: calculate_ld {
                container = "docker://andersenlab/plink:1.9"
            }
        }

        // It's good practice to define a local work directory
        workDir = './work_local'

        // Docker settings for local execution
        docker.enabled = true
    }
}
