profiles {
    local {
        process {
            executor = 'local'
            
            cpus = 8
            memory = '16GB'
            withLabel: filter_vcf {
                container = 'quay.io/biocontainers/bcftools:1.16--hfe4b78e_1'
            }

            withLabel: calculate_ld {
                container = 'andersenlab/plink:1.9'
            }
        }

        // It's good practice to define a local work directory
        workDir = './work_local'

        // Docker settings for local execution
        docker.enabled = true
    }
}
