/*
    Rockfish Configuration
*/

process {
    executor = "slurm"
    clusterOptions = '-A eande106 -e errlog.txt -N 1'
    time = "1.hour"
    cpus = 1
    memory = "4G"
    partition = "parallel"

    withLabel: "filter_vcf" {
        container = "docker://quay.io/biocontainers/bcftools:1.16--hfe4b78e_1"
        time = "1.hour"
        cpus = 4
        memory = "40G"
    }
    
    withLabel: "calculate_ld" {
        container = "docker://andersenlab/plink:1.9"
        time = "1.hour"
        cpus = 4
        memory = "40G"
    }



}

executor {
    queueSize=100
    submitRateLimit=10
}

params {
    baseDir = '/vast/eande106'
    workDir = '/vast/eande106/work'
    dataDir = '/vast/eande106/data'
    softwareDir = '/data/eande106/software'
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${params.baseDir}/singularity"
}

workflow {
    workDir = "/scratch4/eande106"
}